#map {
  height: 700px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

.tsunami-alert {
  /* animation-name: light-on, colour-change-and-glow; */
  /* animation-duration: 1s, 0.75s; */
  /* animation-timing-function: ease-in; */
  /* animation-iteration-count: 1, infinite; */
  /* animation-direction: alternate; */
  /* animation-delay: 0s, 1s; */
  animation: 1s ease-in 0s 1 light-on,
             0.75s ease-in 1s infinite alternate change-colour-and-glow;
}

@keyframes light-on {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 10px 5px rgba(220,53,69,.5);
  }
}

@keyframes change-colour-and-glow {
  from {
    background-color: rgba(220,53,69,1); /* #dc3545; */
    box-shadow: 0 0 10px 5px rgba(220,53,69,.5);
  }
  to {
    background-color: rgba(220,53,69,.7); /* #ea858f; */
    box-shadow: 0 0 10px 5px rgba(220,53,69,.2);
  }
}

