#map {
  height: 700px;
}

.tsunami-alert {
  /* animation-duration: 1.5s; */
  /* animation-name: colour-change-and-glow; */
  /* animation-iteration-count: infinite; */
  animation: 1.5s infinite colour-change-and-glow;
}

@keyframes colour-change-and-glow {
  0% {
    background-color: rgba(220,53,69,1); /* #dc3545; */
    box-shadow: 0 0 10px 5px rgba(220,53,69,.5);
  }
  20% {
    background-color: rgba(220,53,69,1);
    box-shadow: 0 0 10px 5px rgba(220,53,69,.5);
  }
  50% {
    background-color: rgba(220,53,69,.7); /* #ea858f; */
    box-shadow: 0 0 10px 5px rgba(220,53,69,.2);
  }
  80% {
    background-color: rgba(220,53,69,1);
    box-shadow: 0 0 10px 5px rgba(220,53,69,.5);
  }
  100% {
    background-color: rgba(220,53,69,1);
    box-shadow: 0 0 10px 5px rgba(220,53,69,.5);
  }
}

